<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Game</title>
  </head>
  <body>
    <%= require('html-loader!./navbar.html').default %>
    <!-- https://dev.to/joxx/building-a-tab-component-with-pure-css-using-radio-and-label-tags-200b -->
    <my-tabs name="tab">
      <!-- Radio Buttons -->
      <div class="tabs">
        <div tabHeader="play">Play</div>
        <% if (isEditor) { %>
        <div tabHeader="edit">Tilemap</div>
        <div tabHeader="code">Code</div>
        <% } %>
        <div tabHeader="share" style="flex-grow: 0;"><img src="./icon-16.png"></div>
      </div>
      <!-- Tab Content -->
      <div tabContent="play" id="tab-content-play">
          <button class="square-button" id="play-pause-button">⏯</button>
          <button class="square-button" id="reload-button">↻</button>
          <canvas id="game-canvas" width="192" height="256"></canvas>
      </div>

      <div tabContent="share" id="tab-content-share">
        <p>
          <button id="url-button">URL to Clipboard</button>
          <button id="qr-button">QR to Clipboard</button>
        </p>
        <canvas id="qr-canvas"></canvas>
      </div>
      
      <% if (isEditor) { %>

      <div tabContent="edit" id="tab-content-edit">
        <my-tabs name="tab">
          <div class="tabs">
            <div tabHeader="settings">⚙️</div>
            <div tabHeader="draw">✎</div>
            <div tabHeader="physics">🧱</div>
          </div>
          <div tabContent="settings">
            <label for="tilemap-width">Dimensions:</label>
            <input type="number" id="tilemap-width" min="12" max="128" step="4">
            <input type="number" id="tilemap-height" min="16" max="128" step="4">
            <button class="small-button" id="tilemap-change-size">Apply</button>
          </div>
          <div tabContent="draw">
            <label for="editor-char-input">Character(s):</label>
            <input type="text" id="editor-char-input"/>
            <br>
            <label for="editor-color-input">Color:</label>
            <select id="editor-color-input">
              <option value="0">White</option>
              <option value="1">Grey</option>
              <option value="2">Red</option>
              <option value="3">Orange</option>
              <option value="4">Yellow</option>
              <option value="5">Green</option>
              <option value="6">Blue</option>
              <option value="7">Magenta</option>
            </select>
            <br>
            <label for="editor-invert-input">Inverted:</label>
            <input type="checkbox" id="editor-invert-input">
          </div>
          <div tabContent="physics">
            <label for="editor-solid-input">Solid Character(s):</label>
            <input type="text" id="editor-solid-input"/>
          </div>
        </my-tabs>
        <canvas id="editor-canvas" width="192" height="256"></canvas>
        <p>
          <button class="square-button" id="left-button">←</button>
          <button class="square-button" id="up-button">↑</button>
          <button class="square-button" id="down-button">↓</button>
          <button class="square-button" id="right-button">→</button>
        </p>
        <p>
          <button id="export-button">Export to Clipboard</button>
          <button id="import-button">Import from Clipboard</button>
        </p>
      </div>

      <div tabContent="code" id="tab-content-code">
          <!-- Code editor will be inserted here from JS -->
      </div>

      <% } %>
    </div>
  </body>
</html>