<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Game</title>
  </head>
  <body>
    <%= require('html-loader!./navbar.html').default %>
    <my-tab>
      <!-- Radio Buttons -->
      <div class="tabs">
        <div tabHeader="play">Player</div>
        <% if (isEditor) { %>
        <div tabHeader="edit">Tilemap</div>
        <div tabHeader="code">Code</div>
        <% } %>
        <div tabHeader="share" style="flex-grow: 0;"><img src="./icon-16.png"></div>
      </div>
      <!-- Tab Content -->
      <div tabContent="play" id="tab-content-play">
          <button class="square-button" id="play-pause-button">⏯</button>
          <button class="square-button" id="reload-button">↻</button>
          <canvas id="game-canvas" width="192" height="256"></canvas>
      </div>

      <div tabContent="share" id="tab-content-share">
        <p>
          <button id="url-button">URL to Clipboard</button>
          <button id="qr-button">QR to Clipboard</button>
        </p>
        <canvas id="qr-canvas"></canvas>
      </div>
      
      <% if (isEditor) { %>

      <div tabContent="edit" id="tab-content-edit">
        <my-tab id="tilemap-tab">
          <div class="tabs">
            <div tabHeader="settings">⚙️</div>
            <div tabHeader="draw-tile">✎ Tile</div>
            <div tabHeader="draw-patch">✎ Patch</div>
            <div tabHeader="physics">🧱</div>
          </div>
          <div tabContent="settings">
            <label for="tilemap-width">Tilemap Dimensions:</label>
            <input type="number" id="tilemap-width" min="1" max="128" step="1">
            <input type="number" id="tilemap-height" min="1" max="128" step="1">
            <br>
            <label for="patch-width">Patch Dimensions:</label>
            <input type="number" id="patch-width" min="1" max="32" step="1">
            <input type="number" id="patch-height" min="1" max="32" step="1">
            <br>
            <button class="small-button" id="tilemap-settings-apply">Apply</button>
          </div>
          <div class="container-flex" tabContent="draw-tile">
            <label for="editor-char-input">Brush:</label>
            <input type="text" id="editor-char-input" placeholder="(space)"/>
            <select id="editor-color-input">
              <option value="0">White</option>
              <option value="1">Grey</option>
              <option value="2">Red</option>
              <option value="3">Orange</option>
              <option value="4">Yellow</option>
              <option value="5">Green</option>
              <option value="6">Blue</option>
              <option value="7">Magenta</option>
            </select>
            <input type="checkbox" id="editor-invert-input">
            <span id="editor-invert-label">(inverted)</span>
            <button class="small-button" id="editor-pipette-button">⛏</button>
          </div>
          <div class="container-flex" tabContent="draw-patch">
          </div>
          <div tabContent="physics">
            <label for="editor-solid-input">Solid Character(s):</label>
            <input type="text" id="editor-solid-input"/>
          </div>
        </my-tab>
        <canvas id="editor-canvas" width="192" height="256"></canvas>
        <p>
          <button class="square-button" id="left-button">←</button>
          <button class="square-button" id="up-button">↑</button>
          <button class="square-button" id="down-button">↓</button>
          <button class="square-button" id="right-button">→</button>
        </p>
        <p>
          <button id="export-button">Export to Clipboard</button>
          <button id="import-button">Import from Clipboard</button>
        </p>
      </div>

      <div tabContent="code" id="tab-content-code">
          <!-- Code editor will be inserted here from JS -->
      </div>

      <% } %>
    </my-tab>
  </body>
</html>