<!DOCTYPE html>
<html lang="en">
  <%= require('html-loader!./head.html').default %>
  <body>
    <%= require('html-loader!./navbar.html').default %>
    <article>
      <h1>QR Game</h1>
      <h2>WHAT</h2>
      <p>QR Game is a platform that supports the creation of games which can fit inside a QR code!</p>
      <h2>WHY</h2>
      <p>Because all the data is stored <i>in</i> the QR code itself, games can be developed and shared without internet access!</p>
      <h1>Demos</h1>
      <div id="demos"></div>
      <h1>Test</h1>
      <a href="test.html">Open test page</a>
    <article>
  </body>
</html>