body {
    font-family: Verdana;
    /*Put page into central column*/
    margin: 0px;
    min-width: 200px;
    margin-inline: auto;
    width: min(calc(192px * 3), 100%);
}
#tab-content-code {
  max-width: 95%;
  margin-inline: auto;
}
p {
    text-align: center;
}
.cm-editor {
    outline: 2px solid grey;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
button {
    font-size: 1.2rem;
    line-height: 1.5;
    text-wrap: nowrap;
    text-overflow: clip;
}
canvas {
    margin-inline: auto;
    display: block;
    width: 100%;
    image-rendering: pixelated;
}
#qr-canvas {
    outline: 2px solid grey;
    background: white;
}
nav div {
    display: flex;
    background-color: darkslategray;
    color: white;
}
nav div a {
    color: inherit;
    text-decoration: none;
    padding: 0.3rem 0.7rem;
}
table, th, td {
  border: 1px solid;
}
table {
    border-collapse: collapse;
}
.square-button {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    text-align: center;
}
.small-button {
    font-size: 1rem;
}
.tabs {
    display: flex;
}
div[tabHeader] {
    flex-grow: 1;
    text-align: center;
    margin: 0.1em;
    padding: 0.2em;
    background-color: lightgrey;
    cursor: pointer;
}
div[tabHeader]:hover {
    background-color: lightblue;
}
div[tabHeader][selected] {
    background-color: blue;
    color: white;
}