body {
    font-family: Verdana;
    /*Put page into central column*/
    margin: 0px;
    min-width: 320px;
    margin-inline: auto;
    width: min(calc(192px * 3), 100%);
    touch-action: pan-y;
}
article {
    margin: 0px 10px
}
#tab-content-code {
  max-width: 95%;
  margin-inline: auto;
}
p {
    text-align: left;
    margin: 0.2rem 0rem 0.35rem;
}
.cm-editor {
    outline: 2px solid grey;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
button {
    font-size: 1.2rem;
    line-height: 1.5;
    text-wrap: nowrap;
}
canvas {
    margin-inline: auto;
    display: block;
    width: 100%;
    image-rendering: pixelated;
    touch-action: none;
}
#qr-canvas {
    outline: 2px solid grey;
    background: white;
}
nav div {
    display: flex;
    background-color: darkslategray;
    color: white;
}
nav div a {
    color: inherit;
    text-decoration: none;
    padding: 0.3rem 0.7rem;
}
table, th, td {
  border: 1px solid;
}
table {
    border-collapse: collapse;
}
.icon-button {
    font-size: 1.2rem;
    padding: 0.1rem;
    margin: 0;
    display: flex;
    align-items: center;
}
.icon-button img {
    width: 32px;
    height: 32px;
}
.arrow-button {
    font-size: 1.2rem;
    padding: 0.1rem;
    margin: 0;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.small-button {
    padding: 0.1rem;
    margin: 0;
}
.tabs {
    display: flex;
}
div[tabHeader] {
    flex-grow: 1;
    text-align: center;
    margin: 0.1em;
    padding: 0.2em;
    background-color: lightgrey;
    cursor: pointer;
}
div[tabHeader]:hover {
    background-color: lightblue;
}
div[tabHeader][selected] {
    background-color: blue;
    color: white;
}
.container-flex {
    display: flex;
    align-items: center;
}
.container-flex :last-child {
    margin-left: auto;
}
.hidden {
    display: none !important;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem 0rem
}
#play-menu {
    display: flex;
    width: 100%;
    aspect-ratio: 3/4;
    justify-content: center;
    flex-direction: column;
    justify-content: start;
    padding: 0.6rem;
    background-color: black;
    color: white;
    box-sizing: border-box;
    gap: 0.8rem;
}
.play-bar {
    display: flex; 
    background-color: lightgrey; 
    align-items: center;
    padding: 0.2rem;
    gap: 0.3rem;
}
.play-bar > h1 {
    font-size: 125%;
    padding: 0 0 0 0.5em;
}
.flex-bar {
    display: flex; 
    flex-direction: row; 
    gap: 0.3rem; 
    width: 100%;
}
#game-errors {
    border: solid black 
}
details {
    margin: 0.3rem 0;
}
details summary {
    background-color: silver;
    font-size: 110%;
    padding: 0.2rem 1rem;
}
details ul {
    margin-top: 3.2px;
    margin-bottom: 8px;
    padding-left: 20px;
}
.function {
    font-weight: bold;
}
.indented {
    margin: 0;
    margin-left: 1em;
    padding: 0;
}
.nobr { 
    white-space: nowrap;
}
.fields {
    margin-bottom: 8px;
}
.fields div {
    font-style: italic;
}