<!DOCTYPE html>
<html lang="en">
  <%= require('html-loader!./head.html').default %>
  <body>
    <%= require('html-loader!./navbar.html').default %>
    <article>
      <h1>Test</h1>
      <button id="binary-button">Benchmark (Binary)</button>
      <table id="binary-table"></table>
      <!--<br>
      <button id="outer-button">Benchmark (Binary Outer)</button>
      <table id="outer-table"></table>-->
      <br>
      <button id="json-button">Benchmark (JSON)</button>
      <table id="json-table"></table>
      <br>
      <button id="ppmd-button">Test PPMd</button>
      <p id="ppmd-paragraph"></p>
    </article>
  </body>
</html>